* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'DM Serif Display', 'Karla';
}
html{
    font-size: 62.5%;
}
body{
    background: url(/assets/home/background-home-desktop.jpg);
    background-size: cover;
    color: white;
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: #1f242d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}
.navbar a{
    font-size: 1.7rem;
    color: #fff;
    margin-left: 4rem;
    transition: .3s;
}
.navbar a:hover{
    color: aqua;
}
.navbar a.active{
    color: aqua;
}
#menu-icons{
    font-size: 3.6rem;
    color: #fff;
    display: none;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}
.home h1{
    font-size: 150px;
    padding-left: 10px;
}
.home p{
    font-size: 18px;
    padding: 20px 630px 10px 0px;
    line-height: 40px;
}
.bordered-word{
    display: inline-block;
    padding: 120px 100px;
    border: 2px solid #000;
    width: 300px;
    height: 290px;
    border-radius: 50%;
    background-color: #fff;
    color: hsl(256, 26%, 20%);
    margin-right: 90px;
    border: none;
}

